
body {
	margin: 0;
}

.c-box{
    width:50%;
    display:inline-block; 
}

.character-sheet-container > .item-container:nth-child(even) > .c-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

.character-sheet-container > .item-container:nth-child(odd) > .c-box {
    display: flex;
    align-items: end;
}

.c-left{
    float:left;
  
}
.c-right{
    float:right; 
}

.class-img {
    position: center;
    z-index: 0;
  }

.character-sheet-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 32px;
}

.pos {
    position: relative;
    height: 100%;
    width: 100%;
    
}

.item-container {
    text-align: left;
}

.item-container:nth-child(even) {
    text-align: right;
    justify-content: end;
    display: flex;
}

.char-name {
    color: white;
    font-size: 32px;
    margin: 0;
}

.char-item {
    height: auto;
    max-width: 110px;
}

.question-mark-image {
    height: auto;
    max-width: 110px;
    padding: 25px 0;
}
.slot-image {
    max-width: 110px;
    height: auto;
}

